@use '../../scss/utils.mixin.scss' as m;

.menu {
	text-align: center;
	position: fixed;
	padding: 1em;
	width: 100%;
	z-index: 10;
	background-color: rgb(39, 39, 39);

	@include m.media('sm') {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 4fr) 1fr;
	}

	&__logo {
		font-size: 1.5rem;
		grid-column: 2 / 3;
		color: rgb(236, 236, 236);
	}

	&__toggle {
		position: absolute;
		inset: 0 auto auto 1em;
		height: 100%;
		display: flex;
		align-items: center;

		@include m.media('sm') {
			display: none;
		}
	}

}