$breakpoints: (
	"sm": 767px,
	"md": 992px,
	"lg": 1220px
);

@mixin media($key) {
	@if map-has-key($breakpoints, $key ) {
		@media (min-width: map-get($breakpoints, $key)) {
			@content;
		}
	}

	@else {
		@warn "Il n'y a aucun breakpoint du nom de `#{$breakpoint}`. "
		+"les breakpoints utilisables sont: #{map-keys($breakpoints)}.";
	}

}

@mixin pseudo($type: before, $content: '', $pos: absolute) {
	position: relative;

	&::#{$type} {
		content: $content;
		position: $pos;
		@content;
	}
}